.app .heading {
  text-align: center;
  margin-bottom: 36px;
}

.todo-list {
  width: 400px;
  margin: auto;
  margin-top: 12px;
  font-size: 16px;
}

.todo-list .button-toolbar {
  margin-top: 12px;
}

.todo-list .btn {
  font-size: 15px;
}
