.app .heading {
  text-align: center;
  margin-bottom: 36px;
}

.item-finder {
  width: 400px;
  margin: auto;
  margin-top: 12px;
  font-size: 16px;
}

.item-finder .btn-toolbar {
  margin-top: 12px;
}

.item-finder .btn {
  font-size: 15px;
}
