.thumbnail.locale-option {
  cursor: pointer;
  padding-top: 12px;
}

.thumbnail.selected-option {
  border: solid 1px #333333;
}

.thumbnail:not(.selected-option):hover {
  border: solid 1px #888888;
}
